---
import CinematicPanel from "./CinematicPanel.astro";
import AudioPanel from "./AudioPanel.astro";
import ManualPanel from "./ManualPanel.astro";
---

<div id="bottom-hud" class="fixed inset-0 w-full h-full z-10 pointer-events-none transition-all duration-500">
  <div class="w-full h-full pointer-events-none relative">
    <div id="now-playing" class="hidden absolute opacity-0 pointer-events-none"></div>
    
    <!-- Dynamic Panel Area -->
    <div id="hud-content-area" class="w-full h-full pointer-events-none relative">
      <CinematicPanel />
      <AudioPanel />
      <ManualPanel />
    </div>
  </div>
</div>
